<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.mapper.CourseMapper">

    <select id="getCoursesByStudentId" resultType="com.system.pojo.Course">
    SELECT * FROM course
    JOIN s_select_c ON course.code = s_select_c.courseid
    JOIN student ON s_select_c.studentid = student.code
    WHERE student.code = #{code};

    </select>

</mapper>