<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.mapper.CourseMapper">

    <select id="getCoursesByStudentId" resultType="com.system.pojo.Course">
        SELECT c.* FROM course c JOIN s_select_c sc ON c.id = sc.course_id WHERE sc.student_id = #{studentId}
    </select>
</mapper>